[submodule "ultimaille"]
	path = ultimaille
	url = git@github.com:ultimaille/ultimaille.git
[submodule "libHexEx"]
	path = libHexEx
	url = https://gitlab.vci.rwth-aachen.de:9000/HexEx/libHexEx.git
[submodule "OpenVolumeMesh"]
	path = OpenVolumeMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenVolumeMesh/OpenVolumeMesh.git
